<body>
    <!--navbar-->
    <div w3-include-html="templates/navbar.html"></div>
    <!--Main Questions-->
    <div class="container">
        <div class="row">
            <div w3-include-html="templates/subjects.html"></div>
        </div>
        <div class="col-md-8">
            <div w3-include-html="templates/qlist.html"></div>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
    <script>
        includeHTML();
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <!--Brainly Scripts-->
    <script src="https://styleguide.brainly.com/images/icons-36daf88c55.js"></script>
    <script src="https://styleguide.brainly.com/images/subjects-icons-a01adb2d40.js"></script>
    <script src="https://styleguide.brainly.com/images/subjects-mono-icons-341dc27120.js"></script>
    <script src="https://styleguide.brainly.com/images/math-symbols-icons-7c9d6883f2.js"></script>

    <!--Scripts-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>

    <script src="js/backtotop.js"></script>
    <script src="js/scoreboard.js"></script>
    <script src="js/tabletop.js"></script>
    <script src="js/loader.js"></script>

</body>