<div class="jumbotron">
    <div class="container">
        <h1 class="intro sg-text-bit sg-text-bit--xlarge"><div include-html="data/header.txt"></div></div></h1>
        <h2 class="text-center plant-tree sg-text sg-text-bit sg-text-bit--small sg-text-bit--white"><div include-html="data/subtitle.txt"></div></h2>
        <p include-html="data/description.txt" class="text-center sg-text description"> </p>
        <div class="text-center">
            <button class="cta-button sg-button sg-button--primary-mint docs-button-hovered--primary-mint"><span
                    class="sg-button__text"><a class="jump" href="#subject-area"><div include-html="data/ctabutton1.txt"></div></a></span></button>
        </div>
    </div>
</div>
<!--how does it work-->
<div class="container">
    <h1 class="sg-text sg-text-bit sg-text-bit--medium how-it-works"><div include-html="data/cardheader.txt"></div></h1>
    <div class="row tutorial-cards">
        <div class="col-md-4">
            <div class="sg-box sg-box--no-border sg-box--no-min-height sg-box--with-shadow card">
                <div class="sg-box__hole">
                    <p class="text-center sg-text sg-text-bit sg-text-bit--small sg-text-bit--black" include-html="data/card1.txt"></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sg-box sg-box--no-border sg-box--no-min-height sg-box--with-shadow card">
                <div class="sg-box__hole">
                    <p class="sg-text sg-text-bit sg-text-bit--small sg-text-bit--black text-center" include-html="data/card2.txt"></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sg-box sg-box--no-border sg-box--no-min-height sg-box--with-shadow card">
                <div class="sg-box__hole">
                    <p class="sg-text sg-text-bit sg-text-bit--small sg-text-bit--black text-center" include-html="data/card3.txt">
                   </p>
                </div>
            </div>
        </div>
        <button class="share-button sg-button sg-button--primary-blue"><span class="sg-button__text"><a
                    href="https://www.facebook.com/sharer/sharer.php?u=https://blog.brainly.ph/trees"
                    target="_blank">Share on
                    Facebook</a></span></button>
    </div>
</div>
</div>