<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">
        <div class="sg-header__content">
            <div class="sg-header__left"><a href="index.html" class="sg-home-button"><img
                        class="sg-home-button__logo-small"
                        src="https://styleguide.brainly.com/images/logos/brainly-mobile-426ef8718f.svg"><img
                        class="sg-home-button__logo-big"
                        src="https://styleguide.brainly.com/images/logos/brainly-761d75d6ea.svg"></a></div>
            <div class="sg-header__middle">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>