<div class="sg-box sg-box--no-border sg-box--full sg-box--no-min-height sg-box--with-shadow">
    <div class="sg-box__hole"><img src="img/tree.png" height="100px" alt="">
        <div class="stats">
            <h1 class="sg-text sg-text-bit sg-text-bit--medium" include-html="data/sidebar-header.txt"></h1>
            <div include-html="data/sidebar-text.txt"></div>
            <div class="text-center">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://blog.brainly.ph/trees"
                    target="_blank"><button class="sg-button sg-button--facebook share-fb"><span
                            class=" sg-button__icon">
                            <div class="sg-icon sg-icon--light sg-icon--x24"><svg
                                    class="sg-icon__svg">
                                    <use xlink:href="#icon-facebook"></use>
                                </svg></div>
                        </span><span class="sg-button__text">SHARE ON FACEBOOK</span></button></a>
            </div>

        </div>
    </div>
</div>