<div class="subject-drop">
    <div class="sg-select subject-select">
        <select class="sg-select__element pick-subject" onchange="location=this.value;">
            <option value="index.html" selected="selected">All Subjects</option>
            <option value="hot.html">Hot Questions</option>
            <option value="filipino.html">Filipino</option>
            <option value="math.html">Math</option>
            <option value="ap.html">AP</option>
            <option value="english.html">English</option>
            <option value="science.html">Science</option>
            <option value="physics.html">Physics</option>
            <option value="chemistry.html">Chemistry</option>
            <option value="biology.html">Biology</option>
            <option value="history.html">History</option>
            <option value="geography.html">Geography</option>
            <option value="esp.html">ESP</option>
            <option value="economics.html">Economics</option>
            <option value="tle.html">TLE</option>
            <option value="int-science.html">Integrated Science</option>
            <option value="health.html">Health</option>
            <option value="art.html">Art</option>
            <option value="pe.html">PE</option>
            <option value="religion.html">Religion</option>
            <option value="computer.html">Computer</option>
        </select>
    </div>
</div>
<div class="subjects">
    <div class="subject-left">
        <a href="index.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-all"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">All subjects</div>
            </div>
        </a>
    </div>
    <div class="subject-left">
        <a href="hot.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-others"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Hot Questions</div>
            </div>
        </a>
    </div>
    <div class="subject-left">
        <a href="filipino.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-language"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Filipino</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="math.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-mathematics"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Math</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="ap.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-social-science"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">AP</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="english.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-english"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">English</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="science.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-life-science"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Science</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="physics.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-physics"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Physics</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="chemistry.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-chemistry"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Chemistry</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="biology.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-environment"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Biology</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="history.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-history"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">History</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="geography.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-geography"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Geography</div>
            </div>
    </div>
    <div class="subject-left"><a href="esp.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-philosophy"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">ESP</div>
            </div>
    </div>
    <div class="subject-left"><a href="economics.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-economics"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Economics</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="tle.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-technology"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">TLE</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="int-science.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-science"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Int. Science</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="health.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-health"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Health </div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="music.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-music"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Music</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="music.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-art"></use>
                </svg></div>
            <div class="subject-name"><a href="art.html">
                    <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Art</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="pe.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-physical-education"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">PE</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="religion.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-religion"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Religion</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="computer.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-informatics"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Computer</div>
            </div>
        </a>
    </div>
</div>